<DocsHeader />

<DocsDemo @class="mb-5" as |demo|>
  <demo.example @name="snippet.html">
    <span class="icon-1"></span>
    <span class="icon-2"></span>
  </demo.example>
  {{demo.snippet "snippet.html" label="html"}}
</DocsDemo>

{{outlet}}